.menu__list{
  display: flex;
  width: 100%;
}

.menu__list ul{
  font-size: 27px;
  text-align: center;
  /* background: #eeeeee; */
  padding: 20px 0;
  width: 100%;
  opacity: 0;
  animation: visible 300ms ease both;
  margin: 0;
}

@keyframes visible {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

li{
  list-style-type: none;
}

li a{
  text-decoration: none;
  color: #373737;
}
