.list__block {
  display: flex;
  color: #373737;
  margin-bottom: 40px;
/*   padding-right: 5px;
  border-right: 1px dashed #ddd; */
  opacity: 0;
  animation: catalog 300ms ease both;
}

.list__block a {
  border: 2px solid #fff;
}

.list__block a:hover {
  border: 2px solid #43A047;
  border-radius: 5px;
}

@keyframes catalog {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.activeLists {
  color: #fff;
  padding: 5px;
  background: #43A047;
  border-radius: 5px;
}

.activeLists:hover {
  color: #ffffff;
}

.list__block ul {
  padding: 0;
  margin: 7px;
}

.list__block li {
  margin: 5px;
}

.list__block ul ul {
  padding-left: 7px; 
}

.list__block ul ul ul {
  padding-left: 7px;
}

@media (max-width: 1679px){
  .activeLists {
    color: #373737;
    background: none;
  }

  .list__block ul {
    padding: 0;
    margin: 3px;
  }
  
  .list__block li {
    margin: 3px;
  }
  
  .list__block ul ul {
    padding-left: 3px; 
  }
  
  .list__block ul ul ul {
    padding-left: 3px;
  }
}