.mainpage__block {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 70vh;
  opacity: 0;
  animation: mainpage 400ms ease both;
}

@keyframes mainpage {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}